<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096394850979-6f7d2gl548b23l8ndo4r1rc2di03tn8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096394850979-6f7d2gl548b23l8ndo4r1rc2di03tn8u</string>
	<key>API_KEY</key>
	<string>AIzaSyBhepyCAbAxy3JDvlKhGjvXe-VMEknDqis</string>
	<key>GCM_SENDER_ID</key>
	<string>1096394850979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jiexample.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>sensor-data-79bc4</string>
	<key>STORAGE_BUCKET</key>
	<string>sensor-data-79bc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096394850979:ios:221def3870036659473516</string>
</dict>
</plist>